/* Var declarations */

:root {
    --var-light-purple: rgb(180, 116, 165);
    --var-lighter-purple: rgb(213, 157, 199);
    --var-bluish-purple: rgb(49,52,61);
    --var-box-shadow: inset 0 0 10px 10px rgb(22 3 14 / 10%);
}

/* End var declarations */

/* Base CSS */

* {
    border: 0px solid transparent;
    font-family: Arial, Helvetica, sans-serif;
}
.header {
    width: 100%;
    position: fixed;
    top: 0px;
    display: flex;
    align-items: center;
    height: 15%;
    background-color: var(--var-bluish-purple);
    z-index: 1;
    background-image: linear-gradient(to bottom, rgb(59, 37, 54), rgba(55, 43, 56, 0.841), rgba(56, 9, 54, 0.101), rgb(49, 52, 61), rgb(55, 43, 56));
}
#header-name {
    display: flex;
    align-items: center;
    background-color: var(--var-light-purple);
    height: 80px; 
    padding-left: 60px;
    padding-right: 35px;
    font-size: 33px;
    font-weight: bold;
    box-shadow: var(--var-box-shadow);
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
}
#header-name h1 {
    color: var(--var-bluish-purple);
}
.header-navigation {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: transparent;
    width: 75%;
}
#nav-links {
    display: flex;
    list-style: none;
    padding: 0;
    margin-right: 20px;
}
#nav-links li {
    margin-left: 20px;
    padding-bottom: 4px;
    font-size: 20px;
    font-weight: bold;
    color: var(--var-light-purple);
    border-bottom: 4px solid var(--var-light-purple);
}
#nav-links a {
    text-decoration: none;
    color: var(--var-light-purple);
}
main {
    margin-top: 100px;
}
.hero {
    height: 350px;
    position: relative;
    background-image: url(./images/background-splash.jpg);
    background-size: cover;
    z-index: -1;
    box-shadow: inset 0 0 0 1000px rgba(159, 28, 109, 0.2);
    border-bottom: 7px solid rgb(120, 59, 120);
}
#hero-caption {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--var-light-purple);
    width: 20%;
    height: 20%;
    font-size: 200%;
    float: right;
    margin-top: 240px;
    margin-right: 87px;
    flex-wrap: wrap;
    box-shadow: var(--var-box-shadow); 
    border-radius: 15px;
}
.about-me {
    display: flex;
    height: 250px;
    align-items: center;
}
.about-me-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
    position: relative;
}
#about-me-header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    width: 20%;
}
#about-me-header h2 {
    display: flex;
    justify-content: flex-end;
    height: 75%;
    width: 80%;
    font-size: 38px;
    padding-left: 30%;
    padding-right: 25px;
    border-right: 4px solid var(--var-light-purple);
    font-weight: bold;
    color: var(--var-light-purple);
    padding-top: 10px;
    text-align: right;
}
#about-me-content {
    display: flex;
    flex-wrap: wrap;
    margin-left: 35px;
    width: 75%;
    margin-top: 30px;
}
#about-me-content p {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 30px;
    top: 13px;
    color: var(--var-lighter-purple);
    line-height: 135%;
    z-index: -1;
}
.work {
    display: flex;
    align-items: center;
}
.work-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
#work-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    width: 80%;
}
#work-content a {
    width: 100%;
    height: 100%;
}
#work-box-1 {
    display: flex;
    width: 100%;
    height: 250px;
    box-shadow: inset 0 0 0 1000px rgba(159, 28, 109, 0.2);
    position: relative;
    border: 5px solid var(--var-light-purple);
}
#work-box-1 img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(2.5px);
}
.work figcaption {
    position: absolute;
    filter: none;
}
#work-header {
    position: relative;
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    width: 20%;
}
#work-header h2 {
    display: flex;
    justify-content: flex-end;
    height: 450%;
    width: 80%;
    font-size: 38px;
    padding-left: 30%;
    padding-right: 25px;
    border-right: 4px solid var(--var-light-purple);
    font-weight: bold;
    color: var(--var-light-purple);
    padding-top: 10px;
    text-align: right;
}
#work-box-2,
#work-box-3,
#work-box-4,
#work-box-5 {
    position: relative;
    display: flex;
    height: 250px;
    width: 45%;
    margin: 0;
    box-shadow: inset 0 0 0 1000px rgba(159, 28, 109, 0.2);
    border: 5px solid var(--var-light-purple);
}
#work-box-4, #work-box-5 {
    margin-top: 20px;
    margin-bottom: 20px;
}
#work-box-2 img,
#work-box-3 img,
#work-box-4 img,
#work-box-5 img {
    position: relative;
    width: 100%;
    height: 100%;
    z-index: -1;
    filter: blur(3px);
}
#work-content figure {
border-radius: 15px;
}
.work figcaption {
top: 140px;
padding-left: 15px;
padding-top: 15px;
padding-bottom: 15px;
padding-right: 15px;
background-color: var(--var-light-purple);
color: var(--var-bluish-purple);
box-shadow: var(--var-box-shadow);
border-top-right-radius: 15px;
border-bottom-right-radius: 15px;
}
.work figcaption h2 {
    font-weight: bold;
}
.work h3 {
    padding-top: 5px;
}
.footer {
    display: flex;
    align-items: center;
}
.footer-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    position: relative;
}
.contact-me {
    position: relative;
    display: flex;
    justify-content: center;
    height: 180px;
    align-items: center;
    width: 20%;
}
.contact-me h2 {
    display: flex;
    justify-content: flex-end;
    height: 75%;
    width: 80%;
    font-size: 38px;
    padding-left: 30%;
    padding-right: 25px;
    border-right: 4px solid var(--var-light-purple);
    font-weight: bold;
    color: var(--var-light-purple);
    padding-top: 10px;
    text-align: right;
}
#footer-links {
    position: relative;
    display: flex;
    width: 100%;
}
#footer-anchors {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#footer-anchors li:nth-of-type(1n+2) {
    margin-left: 20%;

}
#footer-anchors li {
    padding-bottom: 4px;
    border-bottom: 3.5px solid var(--var-light-purple);
}
#footer-anchors a {
    text-decoration: none;
    font-weight: bold;
    color: rgb(120, 59, 120);
}
#footer-links {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0px;
    margin: 0px;
    width: 80%;
}

/* End base CSS */


/* Pseudo stuffs */

#nav-links a:hover, #footer-anchors a:hover {
    transition: ease-in-out .25s;
    color: var(--var-lighter-purple);
}
#nav-links a:active, #footer-anchors a:active {
    color: rgba(165, 78, 165, 0.395);
}
#work-box-1:hover, #work-box-2:hover, #work-box-3:hover, #work-box-4:hover, #work-box-5:hover {
    cursor: grab;
    transition: ease-in-out .35s;
    box-shadow: inset 0 0 0 1000px rgba(103, 16, 70, 0.395);
}
#work-box-1:hover figcaption, #work-box-2:hover figcaption, #work-box-3:hover figcaption, #work-box-4:hover figcaption, #work-box-5:hover figcaption {
    transition: ease-in-out .15s;
    color: rgb(116, 50, 99);
    scale: 103%;
}

/* Pseudo stuffs end */

/* media query */

@media only screen and (max-width: 926px) {
    body {
        width: 100%;
    }
    .hero {
        width: 201%;
    }
    .header {
        height: 10%;
    }
    .work-flex {
        width: 200%;
        justify-content: center;
    }
    #work-content figure:nth-of-type(1n+2) {
        flex-direction: column;
        width: 45%;
        }
    #about-me-content {
        flex-direction: column;
        font-size: 100%;
        margin-left: 15px;
        justify-content: center;
    }
    #about-me-content:last-of-type p {
        margin-left: 10%;
        width: 250%;
    }
    #about-me-content p {
        width: 125%;
    }
    #about-me-header {
        width: 70%;
    }
    #about-me-header h2 {
        font-size: 30px;
    }
    .work {
        display: block;
    }
    #work-header {
            width: 10%;
    }
    #work-header h2 {
        font-size: 30px;
    }
    #work-content {
        width: 60%;
        margin-left: 6%;
    }
    #footer-links {
        width: 30%;
        justify-content: flex-start;
    }
    #footer-anchors {
        width: 100%;
        justify-content: flex-start;
        margin-left: 20%;
    }
    #footer-anchors li:nth-of-type(1n+2) {
        margin-left: 15%;
    }
    .contact-me h2 {
        font-size: 30px;
    }
}
/* ^ Makes the website very receptive on smaller devices. you just gotta zoom out a bit :p */